#checkboxes {
    display: flex;
    flex-wrap: wrap;
}
.checkbox {
    display: flex;
    margin-right: 20px;
}

#pokemonList {
    display: flex;
    flex-wrap: wrap;
}

#pokemonList div {
    width: 100px;
    border: black 1px solid;
    padding: 10px;
    padding-top: 0px;
    margin: 10px;
    text-align: center;
}

#pokemonDetails {
    position: fixed;
    width: 20%;
    z-index: 2;
    top: 10%;
    left: 30%;
    text-align: center;
    align-items: center;
    background-color: beige;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 70px;
}
#pokemonDetails input {
    position: absolute;
    right: 3%;
    top: 3%;
    appearance: none;
    border: none;
    background-color: rgba(0,0,0,0);
    font-size: xx-large;
}