.tile {
	min-width: 16%;
	text-align: center;
	border: black solid 1px;
	padding: 0 10px;
	margin: 10px;
}
.tileContainer {
	display: grid;
	grid-template-columns: 16% 16% 16% 16% 16% 16%;
	grid-template-rows: auto;
}
